.welcome {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.welcome_text_wrapper {
	width: 580px;
	padding-right: 32px;
	box-sizing: border-box;
	margin-bottom: 80px;
}

.welcome_title {
	display: inline-block;
	box-sizing: border-box;
	font-size: 65px;
	color: rgb(24, 119, 242);
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

.welcome_subtitle {
	color: var(--text-black);
	font-size: 28px;
	font-weight: 400;
	line-height: 32px;
	margin: 0;
	width: 500px;
	padding: 0 4px;
}

.welcome_subtitle span {
	display: inline-block;
	width: 2px;
	height: 22px;
	background-color: var(--text-black);
	opacity: 0.6;
	animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
	from,
	to {
		background-color: transparent;
	}
	50% {
		background-color: var(--text-black);
	}
}

.welcome_content {
	position: relative;
	width: 400px;
	transition: height 500ms ease;
}

.menu_content {
	position: absolute;
	border-radius: 8px;
}

/* CSSTransition classes  */

/* Typing Animation  */
.fade-enter {
	width: 0;
}

.fade-enter-active {
	width: 100%;
}

/* Menus Animation */
.login-menu-enter {
	opacity: 0;
}
.login-menu-enter-active {
	opacity: 1;
	transition: opacity 300ms linear;
}
.login-menu-exit {
	display: none;
}
.login-menu-exit-active {
	display: none;
}

.singup-menu-enter {
	opacity: 0;
}
.singup-menu-enter-active {
	opacity: 1;
	transition: opacity 300ms linear;
}
.singup-menu-exit {
	display: none;
}
.singup-menu-exit-active {
	display: none;
}
