body {
	margin: 0;
	font-family: Roboto, -apple-system sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg-body);
}

code {
	font-family: Roboto, source-code-pro, Menlo, monospace;
}

section {
	max-width: 1200px;
	margin: 0 auto;
}

:root[data-theme="light"] {
	--bg-white: #fff;
	--bg-light-gray-1: #f0f0f0;
	--bg-light-gray-2: #ecebeb;
	--bg-light-gray-3: #f5f5f6;
	--bg-light-gray-4: #e4e6eb;
	--bg-light-gray-5: #dcdbdf;
	--bg-medium-gray: #b1b0b5;
	--bg-dark-gray-1: #989b9a99;
	--bg-dark-gray-2: #595f5a99;

	--bg-body: #f0f2f5;

	--bg-black: #000;

	--bg-facebook-blue: #1877f2;

	--bg-green: #42b72a;

	--bg-red: #f35369;

	--bg-blue: #2196f3;
	--bg-light-green: #42b72a;
	--bg-orange: #f3ab4e;

	--text-black: #050505;
	--text-dark-gray: #1c1e21;

	--text-facebook-blue: #1877f2;

	--text-white: #ffffff;
	--text-light-gray: #bcc0c4;
	--text-medium-gray: #bec3c9;
	--text-dark-gray-1: #898b8d;
	--text-dark-gray-2: #606770;
	--text-dark-gray-3: #65676b;
	--text-dark-gray-4: #4b4f56;

	--text-highlight-red: #f02849;

	--text-link-blue: #2196f3;
	--text-link-green: #4caf50;
	--text-link-orange: #f4b400;
	--text-link-facebook-blue: #6e7ac0;

	--highlight-yellow: #ffd371;
	--highlight-brown: #997f44;

	/* dropdown */

	--dropdown-speed: 500ms;
	--dropdown--icon-hover: 0.9;

	/* theme switcher */

	--switch-circle-position: 0.22rem;
}

:root[data-theme="dark"] {
	--bg-white: #242526;
	--bg-light-gray-1: #181a1a;
	--bg-light-gray-2: #2f3031;
	--bg-light-gray-3: #242526;
	--bg-light-gray-4: #18191a;
	--bg-light-gray-5: #181a1a;
	--bg-medium-gray: #b1b0b5;
	--bg-dark-gray-1: #989b9a99;
	--bg-dark-gray-2: rgb(61, 61, 61) 1;

	--bg-body: #18191a;

	--bg-black: #000;

	--bg-facebook-blue: #1877f2;

	--bg-green: #42b72a;

	--bg-red: #f35369;

	--bg-blue: #2196f3;
	--bg-light-green: #86b988;
	--bg-orange: #f3ab4e;

	--text-black: #e4e6eb;
	--text-dark-gray: #1c1e21;

	--text-facebook-blue: #1877f2;

	--text-white: #ffffff;
	--text-light-gray: #bcc0c4;
	--text-medium-gray: #bec3c9;
	--text-dark-gray-1: #b1b0b5;
	--text-dark-gray-2: #606770;
	--text-dark-gray-3: #65676b;
	--text-dark-gray-4: #4b4f56;

	--text-highlight-red: #f02849;

	--text-link-blue: #2196f3;
	--text-link-green: #4caf50;
	--text-link-orange: #f4b400;
	--text-link-facebook-blue: #6e7ac0;

	--highlight-yellow: #7190ff;
	--highlight-brown: #77757e;

	/* dropdown */

	--dropdown-speed: 500ms;
	--dropdown--icon-hover: 1.2;

	/* theme switcher */

	--switch-circle-position: 2.35rem;
}

:root {
	--default-switcher-transition: color 0.3s ease-in-out,
		background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
		fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}

input:focus,
textarea:focus {
	border-color: #1877f2;
	box-shadow: rgba(24, 118, 242, 0.2) 0 0 0 3px inset;
	outline: none;
}

.divider {
	border-bottom: 1px solid var(--bg-light-gray-4) !important;
}
